
.vs/
*.sln.opt
*.suo
*.user
*.bak
*.VC.db
*.VC.opendb
*.VC.upgradeLog
*.VC.DotSettings.user

#output dirs
build/
bin/
obj/
Debug/
Release/
x64/
x86/
ARM/


*.aps
*.exe
*.ilk
*.lib
*.log
*.obj
*.pdb
*.pch
*.ipch
*.tlog
*.tmp
*.dll
*.exp
*.map
*.ncb
*.sdf
*.idb
*.opensdf
*.rc.o
*.res
*.sbr
*.bsc
/IMGUI
